
*{box-sizing: border-box;}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

body{
  background-color: pink;
  background-image: url("/public/bg-image.jpg");
  background-size: cover;
}
 .title{
  color: #8b00ff;
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}